body {
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

a {
    color: #ffffffff;
    text-decoration: none;
    transition: 0.3s;
}

a :hover {
    opacity: 0.7;
}

.logo {
    width: 9%;
    height: 85px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    font-family: system-ui, -apple-system,
        Helvetica, Arial, sans-serif;
    background: #000;
}


.lista_nav {
    list-style: none;
    display: flex;
}

.lista_nav li {
    letter-spacing: 3px;
    margin-left: 32px;
}

#inicio{
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.233);
}

.grupo1{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.grupo2{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.grupo3{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.grupo4{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img{
    width: 40%;
    margin-left: 1%;
}

.personagens{
    width: 30%;
    border: #000 solid;
    margin-bottom: 20px;
    align-items: center;
}

