* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../imgs/procurados.jpg);
    background-size: cover;
    height: 100vh;
}

a {
    color: #ffffffff;
    text-decoration: none;
    transition: 0.3s;
}

a :hover {
    opacity: 0.7;
}

.logo {
    width: 9%;
    height: 85px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    font-family: system-ui, -apple-system,
    Helvetica, Arial, sans-serif;
    background: #000;
}


.lista_nav {
    list-style: none;
    display: flex;
}

.lista_nav li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu div {
    width: 32px;
    height: 2px;
    background: #ffff;
    margin: 8px;
}

main {
    color: white;
    background: #00000999;
    display: flex;
    padding: 30px 30px;
    margin-top: 180px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 150px;
}

main h1{
    display: flex;
    flex-direction: column;
}

main p{
    font-size: large;
}

hr{
    width: 100%;
    height: 2px;
    color: white;
}

footer {
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    height: 8vh;
    width: 100%;
}


